<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>11386638219-qhvao1127pkhhie7pib3d6rvocjo7dgl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.11386638219-qhvao1127pkhhie7pib3d6rvocjo7dgl</string>
	<key>API_KEY</key>
	<string>AIzaSyB2D99Sif1_R_Cy7d6dHJHHH-NyaAUVHU8</string>
	<key>GCM_SENDER_ID</key>
	<string>11386638219</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>awm.Ember</string>
	<key>PROJECT_ID</key>
	<string>ember-beaa6</string>
	<key>STORAGE_BUCKET</key>
	<string>ember-beaa6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:11386638219:ios:98c1a0df144f0e14</string>
	<key>DATABASE_URL</key>
	<string>https://ember-beaa6.firebaseio.com</string>
</dict>
</plist>